/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container principal */
.novo-aluno-container {
  background: white;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Conteúdo */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Título */
.form h1 {
  font-size: 24px;
  color: #17202a;
  margin-bottom: 15px;
}

/* Formulário */
form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  margin-bottom: 15px;
}

input::placeholder {
  color: #aaa;
}

button.button {
  background-color: #17202a;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button.button:hover {
  background-color: #1a1a1a;
}
